.carouselItem img {
    margin: 0 auto;
    width: auto;
}

.carousel .item {
    max-height: 700px;
}

.item img {
    position: center;
    size: cover;
    min-height: 300px;
}

.carousel-indicators [data-bs-target] {
    width: 10px; /* change width */
    height: 10px; /* change height */
    border-radius: 100%; /* add border-radius */
    background-color: #ff7b00;
    opacity: 1;
}


.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}

.carousel-control-next-icon
{

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='orange'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}
